.App {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.App h1 {
    font-size: 2.5em;
    font-weight: 900;
}

.App h1 a {
    text-decoration: none;
}

textarea {
    width: 50%;
    height: 150px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.CreateAnswer {
    margin-bottom: 1.5em;
}

.Answer {
    margin-bottom: 1.5em;
}

h2 {
    margin-bottom: 0;
    font-weight: 800;
    line-height: 1.125;
    word-wrap: break-word;
}

input[type="text"] {
    margin-top: 1em;
    padding: 7px 7px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    width: 50%;

    font-size: 22px;
    color: #24292e;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.LoginForm input[type="text"] {
    margin-right: 1em;
    width: 30%;
    font-size: 14px;
    line-height: 20px;
}

button, input[type="submit"] {
    margin: 2px 2px;
    display: inline-block;
    padding: 0.6em 2.4em;
    border: none;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all ease-in-out 0.2s;
}

button:hover, input[type="submit"]:hover {
    background-color: #4095c6;
}

.Vote button.selected {
    border: 1px solid #4eb5f1;
    background-color: #4eb5f1;
    color: white;
}

.Vote button {
    margin: 2px 5px 2px 5px;
    padding: 0.6em 0.6em;
    border: 1px solid #4095c6;
    background-color: white;
    color: #4095c6;
}

.Vote button:disabled {
    background-color: #cccccc;
    color: #666666;
    border: none;
}

.Question {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 0;
}

.Question h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.125;
    word-wrap: break-word;
}

h4 {
    box-sizing: border-box;
    font-size: 12px;
    color: #586069;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 1.125;
}

p {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    line-height: 1.2;
}

a:link {
    color: #4095c6;
    /*text-decoration: none;*/
}

a:visited {
    color: #4095c6;
    /*text-decoration: none;*/
}
